@model IEnumerable<SeminarskiRad.Predbiljezba>

@{
    ViewBag.Title = "Predbilježbe";
    List<SelectListItem> filter = new List<SelectListItem>(){
new SelectListItem { Value = "1", Text = "Potvrđeni" },
new SelectListItem { Value = "2", Text = "Odbijeni" },
new SelectListItem { Value = "3", Text = "Neobrađeni" }
};
}

<br />
@using (Html.BeginForm("PreRegistration", "Employee",
            null,
            FormMethod.Post, new { @class = "form-horizontal" }))
{
    <div class="form-group">
        @Html.Label("Pretraga:", new { @class = "label-control col-md-1", style = "margin-top:5px" })
        <div class="form-horizontal">
            @Html.TextBox("search", null, new { @class = "form-control col-md-1" })
        </div>
        <input type="submit" value="Pretraži" class="btn btn-success " style="margin-left:10px" />
    </div>

    <div style="position:initial;  "><b>Prikaži samo:</b>
    @Html.DropDownList("Filter", filter, "--odaberi--", new { onchange = "this.form.submit();" , @class="form-control", style="width:auto" })
    </div>
}




<table class="table table-striped table-bordered" style="margin-top:10px">
    <tr>
        <th>

        </th>
        <th>
            @Html.DisplayName("Seminar")
        </th>
        <th>
            @Html.DisplayName("Ime")
        </th>
        <th>
            @Html.DisplayName("Prezime")
        </th>
        <th>
            @Html.DisplayName("Datum")
        </th>
        <th>
            @Html.DisplayName("Adresa")
        </th>
        <th>
            @Html.DisplayName("Email")
        </th>
        <th>
            @Html.DisplayName("Telefon")
        </th>
        <th>
            @Html.DisplayName("Status")
        </th>

    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td class="text-center">
                @Html.ActionLink("Odaberi", "EditPreRegistration", new { id = item.IdPredbiljezba })
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Seminar.Naziv)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Prezime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Datum)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Adresa)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Telefon)
            </td>
            <td class="text-center">
                @if (item.Status == true)
                {
                    <img src="~/Content/Images/approved.png" alt="Prihvaćen" style="width:27px; height:27px" />
                }
                else if (item.Status == false)
                {
                    <img src="~/Content/Images/denied.png" alt="Odbijen" style="width:27px; height:27px" />
                }
                else
                {
                    @:Novi
}
            </td>
        </tr>
    }
</table>