@model SeminarskiRad.Models.PredbiljezbaViewModel

@{
    ViewBag.Title = "Predbilježba";
}


@using (Html.BeginForm()) 
{
    
    
    <div class="form-horizontal">
        <br />
        <h5 style="margin-left:100px">Molimo unesite osobne podatke za predbilježbu na seminar:</h5>
        <h3><b style="margin-left:100px" >@ViewBag.Seminar</b></h3>
        <br />
        <div class="form-group" >
                @Html.LabelFor(model => model.Ime , htmlAttributes: new { @class = "control-label col-md-2"})
            <div class="col-md-10">
                @Html.EditorFor(model => model.Ime, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Ime, "", new { @class = "text-danger" })
            </div>
        </div>


        <div class="form-group ">
            @Html.LabelFor(model => model.Prezime,  htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Prezime, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Prezime, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Adresa , htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Adresa, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Adresa, "", new { @class = "text-danger" })
                </div>
            </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                </div>
            </div>


                <div class="form-group">
                    @Html.LabelFor(model => model.Telefon , htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Telefon, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Telefon, "", new { @class = "text-danger" })
                    </div>
                </div>

            <br />

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Predbilježi se" class="btn btn-primary" />
                    @Html.ActionLink("Natrag", "PreRegistration", null, new { @class = "btn btn-danger" })
                </div>
            </div>
        </div>
}


    
